body {
  background-color: #EBEBEB;
  margin: 0;
  font-family: sans-serif; }
  body header {
    position: relative;
    z-index: 1; }
    body header .header_content {
      max-width: 945px;
      margin: 40px auto auto;
      justify-content: space-between; }
      body header .header_content .header_main {
        display: flex; }
        body header .header_content .header_main .header_logotype {
          display: flex; }
          body header .header_content .header_main .header_logotype .header_logotype_txt .header_logotype_txt_big {
            margin-left: 10px;
            font-size: 34px;
            font-weight: bold;
            color: #6017A3; }
          body header .header_content .header_main .header_logotype .header_logotype_txt .header_logotype_txt_small {
            margin-left: 13px;
            font-size: 12px;
            color: #7D7D7D; }
      body header .header_content .quicklinks {
        display: flex;
        margin-top: 8px;
        margin-left: 51px; }
        body header .header_content .quicklinks .quicklinks_wrapper {
          color: #C7C7C7;
          font-size: 14px;
          width: 103px;
          height: 26px;
          border-right: 1px #C7C7C7 solid;
          vertical-align: middle; }
          body header .header_content .quicklinks .quicklinks_wrapper .quicklinks_span {
            margin-top: 9px; }
          body header .header_content .quicklinks .quicklinks_wrapper .fa-map-marker-alt {
            margin-top: 7px;
            margin-left: 9px; }
        body header .header_content .quicklinks .quicklinks_select {
          margin-left: 19px;
          margin-top: 5px;
          font-size: 14px;
          font-weight: 100;
          font-family: Nexa-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif;
          color: #6017A3; }
          body header .header_content .quicklinks .quicklinks_select span {
            display: inline-block;
            transform: rotate(90deg);
            font-family: Quicksand-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif; }
      body header .header_content .quicklinks_input {
        width: 300px;
        height: 47px;
        padding-left: 20px;
        margin-left: 22px;
        font-size: 14px;
        border: none;
        position: relative;
        z-index: 0; }
      body header .header_content .fa-clock {
        position: relative;
        z-index: 0;
        margin-left: -34px;
        margin-top: 12px;
        font-size: 24px;
        color: #6017a3; }
      body header .header_content .header_menu {
        display: flex;
        margin-top: 34px; }
        body header .header_content .header_menu .header_menu_buttons {
          height: 109px;
          width: 100%;
          border-right: 1px #D4D4D4 solid;
          background-color: white;
          border-bottom: #6017a3 5px solid;
          text-align: center; }
          body header .header_content .header_menu .header_menu_buttons i {
            font-size: 27px;
            margin-top: 18px;
            color: #7D7D7D; }
          body header .header_content .header_menu .header_menu_buttons span {
            font-size: 17px;
            display: inline-block;
            margin-top: 17px;
            color: #707070;
            font-weight: bold; }
        body header .header_content .header_menu #header_menu_button_last {
          border-right: none; }
        body header .header_content .header_menu .header_menu_buttons:hover {
          cursor: pointer;
          border-bottom: #6017a3 14px solid;
          margin-top: -9px; }
          body header .header_content .header_menu .header_menu_buttons:hover i, body header .header_content .header_menu .header_menu_buttons:hover span {
            color: #6017a3; }
  body .main {
    height: 555px;
    position: relative;
    z-index: 0;
    margin-top: -14px;
    list-style-type: none; }
    body .main .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 1s; }
    body .main .showing {
      opacity: 1;
      z-index: 2; }
    body .main .main_wrapper {
      height: 359px;
      background-color: rgba(140, 89, 145, 0.6);
      position: relative;
      z-index: 3;
      padding-top: 196px; }
      body .main .main_wrapper .main_wrapper_logotype {
        width: 139px;
        height: 139px;
        background-color: rgba(69, 26, 74, 0.8);
        border-radius: 50%;
        margin: auto; }
        body .main .main_wrapper .main_wrapper_logotype img {
          margin-top: 41px;
          margin-left: 40px; }
  body .map {
    height: 769px;
    background-color: #2D2D2D; }
    body .map .map_title {
      text-align: center; }
      body .map .map_title .map_title_big {
        margin: 0;
        font-size: 36px;
        color: #FFFFFF;
        font-weight: 100;
        padding-top: 40px; }
      body .map .map_title .map_title_small {
        font-size: 14px;
        color: #A161DB;
        font-weight: 100;
        margin-top: 3px; }
    body .map .map_map {
      text-align: center;
      margin-top: 26px; }
    body .map .map_shapes {
      max-width: 703px;
      display: flex;
      justify-content: space-between;
      margin: 25px auto auto; }
      body .map .map_shapes .map_shapes_clock_box {
        width: 77px;
        height: 77px; }
      body .map .map_shapes .map_shapes_line {
        width: 141px;
        height: 4px;
        margin-top: 37px; }
      body .map .map_shapes .map_shapes_cloud {
        width: 85px;
        height: 52px;
        margin-top: 12px; }
    body .map .map_txt {
      max-width: 950px;
      display: flex;
      justify-content: space-between;
      margin: 50px auto auto;
      color: white; }
      body .map .map_txt .map_txt_block {
        width: 298px; }
        body .map .map_txt .map_txt_block .map_txt_block_title {
          font-size: 24px;
          font-weight: 100; }
        body .map .map_txt .map_txt_block .map_txt_block_paragraph {
          font-size: 13px; }
  body .screenshot {
    height: 530px;
    background-color: #222222;
    text-align: center; }
    body .screenshot img {
      width: 1255px;
      height: 452px;
      display: inline-block;
      margin-top: 78px; }
  body .team {
    width: 741px;
    margin: 0 auto 33px;
    text-align: center; }
    body .team .team_title {
      display: flex;
      justify-content: space-between; }
      body .team .team_title hr {
        width: 221px;
        height: 2px;
        background-color: #DEDEDE;
        margin: 99px 0 0;
        border: none; }
      body .team .team_title h1 {
        margin: 85px 0 0;
        font-size: 28px;
        color: #717171;
        font-family: Nexa-Book,AdobeInvisFont,MyriadPro-Regular, sans-serif;
        font-weight: 100; }
    body .team .team_small_txt {
      font-size: 14px;
      color: #717171;
      font-family: Nexa-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif; }
    body .team .team_slider {
      margin-top: 38px;
      display: flex;
      justify-content: space-between; }
      body .team .team_slider .slick-arrow {
        display: none !important; }
      body .team .team_slider .slick-dots {
        top: 246px !important; }
        body .team .team_slider .slick-dots li {
          width: 11px !important;
          height: 11px !important; }
      body .team .team_slider .team_slider_slide .team_slider_slide_background {
        background-color: white;
        width: 168px;
        height: 168px;
        transform: rotate(-4deg);
        position: relative;
        z-index: 0; }
      body .team .team_slider .team_slider_slide .team_slider_slide_person {
        width: 156px;
        height: 149px;
        border: 7px white solid;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: -165px auto auto;
        position: relative;
        z-index: 1; }
        body .team .team_slider .team_slider_slide .team_slider_slide_person img {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 0; }
        body .team .team_slider .team_slider_slide .team_slider_slide_person .team_slider_slide_person_social_network {
          width: 34px;
          height: 34px;
          background-color: #8F33C4;
          color: white;
          font-size: 19px;
          position: relative;
          z-index: 0;
          margin-top: -34px;
          position: absolute;
          right: 0; }
          body .team .team_slider .team_slider_slide .team_slider_slide_person .team_slider_slide_person_social_network i {
            margin-top: 7px; }
      body .team .team_slider .team_slider_slide .team_slider_person_title {
        margin-top: 23px;
        text-align: left; }
        body .team .team_slider .team_slider_slide .team_slider_person_title * {
          display: inline-block;
          margin-left: 10px; }
        body .team .team_slider .team_slider_slide .team_slider_person_title .team_slider_person_title_name {
          color: #7B7B7B;
          font-size: 14px;
          font-weight: bold; }
        body .team .team_slider .team_slider_slide .team_slider_person_title .team_slider_person_title_prof {
          color: #7B7B7B;
          font-size: 12px;
          font-weight: 100; }
    body .team .team_info_list {
      width: 741px;
      padding-top: 45px; }
      body .team .team_info_list .upper_blocks {
        width: 100%;
        display: flex; }
        body .team .team_info_list .upper_blocks * {
          height: 483px;
          width: 100%;
          background-color: white; }
          body .team .team_info_list .upper_blocks * h1 {
            margin: 0; }
        body .team .team_info_list .upper_blocks .team_info_list_block_first {
          margin-right: 20px; }
          body .team .team_info_list .upper_blocks .team_info_list_block_first h1 {
            margin: 0; }
      body .team .team_info_list .team_info_list_block_third {
        height: 356px;
        width: 100%;
        background-color: white;
        margin-top: 20px; }
  body .line_between_team_footer {
    height: 6px;
    background-color: #6017a3;
    margin: 0;
    border: none; }
  body footer {
    height: 521px;
    background-color: #373737; }
    body footer .footer_content_space {
      height: 100%;
      width: 741px;
      margin: auto; }
      body footer .footer_content_space .footer_content_space_first_row {
        display: flex;
        justify-content: space-between; }
        body footer .footer_content_space .footer_content_space_first_row .footer_logotype {
          display: flex;
          padding-top: 22px; }
          body footer .footer_content_space .footer_content_space_first_row .footer_logotype .footer_logotype_txt .footer_logotype_txt_big {
            margin-left: 10px;
            font-size: 34px;
            font-weight: bold;
            color: white; }
          body footer .footer_content_space .footer_content_space_first_row .footer_logotype .footer_logotype_txt .footer_logotype_txt_small {
            margin-left: 13px;
            font-size: 12px;
            color: white; }
        body footer .footer_content_space .footer_content_space_first_row .footer_navbar {
          display: flex;
          margin-top: 21px; }
          body footer .footer_content_space .footer_content_space_first_row .footer_navbar .footer_navbar_link {
            margin: 21px;
            height: 26px;
            border-bottom: 5px #373737 solid; }
            body footer .footer_content_space .footer_content_space_first_row .footer_navbar .footer_navbar_link a {
              text-decoration: none;
              font-size: 12px;
              color: white; }
          body footer .footer_content_space .footer_content_space_first_row .footer_navbar #footer_navbar_link_last {
            margin-right: 0; }
          body footer .footer_content_space .footer_content_space_first_row .footer_navbar .footer_navbar_link:hover {
            border-bottom: 5px #6017A3 solid; }
          body footer .footer_content_space .footer_content_space_first_row .footer_navbar hr {
            height: 12px;
            margin-top: 24px; }
      body footer .footer_content_space .footer_content_space_second_row {
        margin-top: 36px;
        display: flex;
        justify-content: space-between; }
        body footer .footer_content_space .footer_content_space_second_row .footer_content_space_second_row_paragraph {
          width: 406px;
          color: white;
          font-size: 12px;
          margin: 0; }
        body footer .footer_content_space .footer_content_space_second_row .footer_content_space_second_row_social_networks {
          font-size: 11px; }
          body footer .footer_content_space .footer_content_space_second_row .footer_content_space_second_row_social_networks i {
            margin-right: 9px; }
          body footer .footer_content_space .footer_content_space_second_row .footer_content_space_second_row_social_networks a {
            text-decoration: none;
            color: white;
            margin: 14px; }
      body footer .footer_content_space .footer_content_space_third_row {
        margin-top: 48px; }
        body footer .footer_content_space .footer_content_space_third_row a {
          margin: 10px;
          text-decoration: none;
          font-size: 12px;
          color: white; }
        body footer .footer_content_space .footer_content_space_third_row .footer_content_space_third_row_last {
          margin-left: 0; }
      body footer .footer_content_space .footer_content_space_description {
        width: 762px;
        color: #6F6F6F;
        font-size: 12px;
        margin-top: 23px; }
