body {
  background-color: #EBEBEB;
  margin: 0;
  font-family: sans-serif;
  header {
    position: relative;
    z-index: 1;
    .header_content {
      max-width: 945px;
      margin: 40px auto auto;
      justify-content: space-between;
      .header_main {
        display: flex;
        .header_logotype {
          display: flex;
          .header_logotype_txt {
            .header_logotype_txt_big {
              margin-left: 10px;
              font-size: 34px;
              font-weight: bold;
              color: #6017A3;
            }
            .header_logotype_txt_small {
              margin-left: 13px;
              font-size: 12px;
              color: #7D7D7D;
            }
          }
        }
      }
      .quicklinks {
        display: flex;
        margin-top: 8px;
        margin-left: 51px;
        .quicklinks_wrapper {
          color: #C7C7C7;
          font-size: 14px;
          width: 103px;
          height: 26px;
          border-right: 1px #C7C7C7 solid;
          vertical-align: middle;
          .quicklinks_span {
            margin-top: 9px;
          }

          .fa-map-marker-alt {
            margin-top: 7px;
            margin-left: 9px;
          }
        }
        .quicklinks_select {
          margin-left: 19px;
          margin-top: 5px;
          font-size: 14px;
          font-weight: 100;
          font-family: Nexa-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif;
          color: #6017A3;
          span {
            display: inline-block;
            transform: rotate(90deg);
            font-family: Quicksand-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif;
          }
        }
      }
      .quicklinks_input {
        width: 300px;
        height: 47px;
        padding-left: 20px;
        margin-left: 22px;
        font-size: 14px;
        border: none;
        position: relative;
        z-index: 0;
      }
      .fa-clock {
        position: relative;
        z-index: 0;
        margin-left: -34px;
        margin-top: 12px;
        font-size: 24px;
        color: #6017a3;
      }

      .header_menu {
        display: flex;
        margin-top: 34px;
        .header_menu_buttons {
          height: 109px;
          width: 100%;
          border-right: 1px #D4D4D4 solid;
          background-color: white;
          border-bottom: #6017a3 5px solid;
          text-align: center;
          i {
            font-size: 27px;
            margin-top: 18px;
            color: #7D7D7D;
          }

          span {
            font-size: 17px;
            display: inline-block;
            margin-top: 17px;
            color: #707070;
            font-weight: bold;
          }
        }
        #header_menu_button_last {
          border-right: none;
        }
        .header_menu_buttons:hover {
          cursor: pointer;
          border-bottom: #6017a3 14px solid;
          margin-top: -9px;
          i, span {
            color: #6017a3;
          }
        }
      }
    }
  }

  .main {
    height: 555px;
    position: relative;
    z-index: 0;
    margin-top: -14px;
    list-style-type: none;
    .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 1s;
    }
    .showing {
      opacity: 1;
      z-index: 2;
    }
    .main_wrapper {
      height: 359px;
      background-color: rgba(#8C5991, 0.6);
      position: relative;
      z-index: 3;
      padding-top: 196px;
      .main_wrapper_logotype {
        width: 139px;
        height: 139px;
        background-color: rgba(#451A4A, 0.8);
        border-radius: 50%;
        margin: auto;
        img {
          margin-top: 41px;
          margin-left: 40px;
        }
      }
    }
  }
  .map {
    height: 769px;
    background-color: #2D2D2D;
    .map_title {
      text-align: center;
      .map_title_big {
        margin: 0;
        font-size: 36px;
        color: #FFFFFF;
        font-weight: 100;
        padding-top: 40px;
      }
      .map_title_small {
        font-size: 14px;
        color: #A161DB;
        font-weight: 100;
        margin-top: 3px;
      }
    }
    .map_map {
      text-align: center;
      margin-top: 26px;
    }
    .map_shapes {
      max-width: 703px;
      display: flex;
      justify-content: space-between;
      margin: 25px auto auto;
      .map_shapes_clock_box {
        width: 77px;
        height: 77px;
      }

      .map_shapes_line {
        width: 141px;
        height: 4px;
        margin-top: 37px;
      }
      .map_shapes_cloud {
        width: 85px;
        height: 52px;
        margin-top: 12px;
      }
    }
    .map_txt {
      max-width: 950px;
      display: flex;
      justify-content: space-between;
      margin: 50px auto auto;
      color: white;
      .map_txt_block {
        width: 298px;
        .map_txt_block_title {
          font-size: 24px;
          font-weight: 100;
        }
        .map_txt_block_paragraph {
          font-size: 13px;
        }
      }
    }
  }
  .screenshot {
    height: 530px;
    background-color: #222222;
    text-align: center;
    img {
      width: 1255px;
      height: 452px;
      display: inline-block;
      margin-top: 78px;
    }
  }
  .team {
    width: 741px;
    margin: 0 auto 33px;
    text-align: center;
    .team_title {
      display: flex;
      justify-content: space-between;
      hr {
        width: 221px;
        height: 2px;
        background-color: #DEDEDE;
        margin: 99px 0 0;
        border: none;
      }
      h1 {
        margin: 85px 0 0;
        font-size: 28px;
        color: #717171;
        font-family: Nexa-Book,AdobeInvisFont,MyriadPro-Regular, sans-serif;
        font-weight: 100;
      }
    }
    .team_small_txt {
      font-size: 14px;
      color: #717171;
      font-family: Nexa-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif;
    }
    .team_slider {
      margin-top: 38px;
      display: flex;
      justify-content: space-between;
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        top: 246px !important;
        li {
          width: 11px !important;
          height: 11px !important;
        }
      }
      .team_slider_slide {
        .team_slider_slide_background {
          background-color: white;
          width: 168px;
          height: 168px;
          transform: rotate(-4deg);
          position: relative;
          z-index: 0;
        }
        .team_slider_slide_person {
          width: 156px;
          height: 149px;
          border: 7px white solid;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin: -165px auto auto;
          position: relative;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 0;
          }
          .team_slider_slide_person_social_network {
            width: 34px;
            height: 34px;
            background-color: #8F33C4;
            color: white;
            font-size: 19px;
            position: relative;
            z-index: 0;
            margin-top: -34px;
            position: absolute;
            right: 0;
            i {
              margin-top: 7px;
            }
          }
        }
        .team_slider_person_title {
          margin-top: 23px;
          text-align: left;
          * {
            display: inline-block;
            margin-left: 10px;
          }
          .team_slider_person_title_name {
            color: #7B7B7B;
            font-size: 14px;
            font-weight: bold;
          }
          .team_slider_person_title_prof {
            color: #7B7B7B;
            font-size: 12px;
            font-weight: 100;
          }
        }
      }
    }
  }
  .line_between_team_footer {
    height: 6px;
    background-color: #6017a3;
    margin: 0;
    border: none;
  }
  footer {
    height: 521px;
    background-color: #373737;
    .footer_content_space {
      height: 100%;
      width: 741px;
      margin: auto;
      .footer_content_space_first_row {
        display: flex;
        justify-content: space-between;
        .footer_logotype {
          display: flex;
          padding-top: 22px;

          .footer_logotype_txt {
            .footer_logotype_txt_big {
              margin-left: 10px;
              font-size: 34px;
              font-weight: bold;
              color: white;
            }

            .footer_logotype_txt_small {
              margin-left: 13px;
              font-size: 12px;
              color: white;
            }
          }
        }
        .footer_navbar {
          display: flex;
          margin-top: 21px;
          .footer_navbar_link {
            margin: 21px;
            height: 26px;
            border-bottom: 5px #373737 solid;
            a {
              text-decoration: none;
              font-size: 12px;
              color: white;
            }
          }
          #footer_navbar_link_last {
            margin-right: 0;
          }
          .footer_navbar_link:hover {
            border-bottom: 5px #6017A3 solid;
          }
          hr {
            height: 12px;
            margin-top: 24px;
          }
        }
      }
      .footer_content_space_second_row {
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        .footer_content_space_second_row_paragraph {
          width: 406px;
          color: white;
          font-size: 12px;
          margin: 0;
        }
        .footer_content_space_second_row_social_networks {
          font-size: 11px;
          i {
            margin-right: 9px;
          }
          a {
            text-decoration: none;
            color: white;
            margin: 14px;
          }
        }
      }
      .footer_content_space_third_row {
        margin-top: 48px;
        a {
          margin: 10px;
          text-decoration: none;
          font-size: 12px;
          color: white;
        }
        .footer_content_space_third_row_last {
          margin-left: 0;
        }
      }
      .footer_content_space_description {
        width: 762px;
        color: #6F6F6F;
        font-size: 12px;
        margin-top: 23px;
      }
    }
  }
}